.home-wrapper {
  .home-sider-wrapper {
    background-color: #fff;
    border-right: 1px solid #f0f0f0;

    .home-sider {
      overflow: hidden;
      border: none;
      max-height: 100vh;

      &:hover {
        overflow: auto;
      }
    }
  }

  .drawer-handle {
    position: fixed;
    top: 110px;
    left: 0;
    z-index: 50;
  }

  .home-drawer {}

  .home-content {
    padding: 10px;
    background-color: #fff;
    min-height: calc(100vh - 134px);

    .resource {
      height: 100%;
      width: 100%;
      display: flex;

      .ant-card-body {
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;

        .ant-card-meta-title {
          white-space: unset;
          text-overflow: unset;
        }
      }

      .resource-meta {
        .resource-author {
          font-size: 14px;

          .author-username {
            font-weight: bold;
            color: #1890ff;
          }
        }
      }

      .resource-categories {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap-reverse;

        .resource-category {
          margin-top: 8px;
          color: rgba(0, 0, 0, .65);
          background-color: #fafafa;
          border-color: #d9d9d9;

          &:hover,
          &.ant-tag-checkable-checked {
            color: #1890ff;
            background-color: #e6f7ff;
            border-color: #91d5ff;
          }
        }
      }

      .resource-favorite {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.45);

        &:hover {
          color: #f759ab;
        }

        &.favorite {
          color: #f759ab;
        }
      }
    }
  }
}