.home-wrapper {
  .home-sider {
    overflow: hidden;
    max-height: 100vh;

    &:hover {
      overflow: auto;
    }
  }

  .drawer-handle {
    position: fixed;
    top: 110px;
    left: 0;
    z-index: 50;
  }

  .home-drawer {}

  .home-content {
    padding: 10px;
    background-color: #fff;

    .resource {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: flex;

      .ant-card-body {
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
      }

      .resource-meta {
        .resource-author {
          font-size: 14px;

          .author-username {
            font-weight: bold;
            color: #1890ff;
          }
        }
      }

      .resource-categories {
        margin-top: auto;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap-reverse;

        .resource-category {
          margin-top: 8px;
          color: rgba(0, 0, 0, .65);
          background-color: #fafafa;
          border-color: #d9d9d9;

          &:hover,
          &.ant-tag-checkable-checked {
            color: #1890ff;
            background-color: #e6f7ff;
            border-color: #91d5ff;
          }
        }
      }

      .resource-favorite {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.45);

        &:hover {
          color: #f759ab;
        }

        &.favorite {
          color: #f759ab;
        }
      }
    }
  }
}