.admin-wrapper {
  .admin-sider-wrapper {
    background-color: #fff;
    border-right: 1px solid #f0f0f0;

    .admin-sider {
      overflow: hidden;
      border: none;
      max-height: 100vh;

      &:hover {
        overflow: auto;
      }
    }
  }

  .drawer-handle {
    position: fixed;
    top: 110px;
    left: 0;
    z-index: 50;
  }

  .admin-drawer {}

  .admin-content {
    padding: 10px;
    background-color: #fff;
    min-height: calc(100vh - 134px);
  }
}