#header {
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 50;
  // position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  height: auto;

  .navbar__admin-menu {
    height: 34px;
    width: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #384859;
    padding: 0 50px;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .navbar {
    padding: 0 50px;
    height: 64px;

    .navbar__logo {
      width: 100px;
      height: 100%;
      float: left;

      a {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        height: 100%;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .navbar__links {
      border: none;
      background-color: #fff;
      line-height: 64px;
      float: right;

      .navbar__link {
        border-bottom: none;
      }

      .navbar__dropdown {
        cursor: pointer;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}